/* mypro.html */
/* its for the checking purpose */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

@-webkit-keyframes mymove {
    from {
		-webkit-opacity: 0;	
		}
to {
	-webkit-opacity: 1;	
	
}
}

body{
	margin:0;
}

@-webkit-keyframes myline
{
	from
	{
		margin-left:0;
		width:100;
		-webkit-opacity: 1;	
	}
	to
	{
		width:0;
		
	}
}


body
{
	margin:0;
}


header
{
	position:fixed;
	display:inline-block;
	margin:0;
	padding:10;
	width:1515px;
	list-style-type:none;
	color:white;
	
	background-color:669933;
	word-spacing:10;
	z-index:555;
}

#head .user
{
	display:inline-block;
	position:relative;
	margin-left:0;
	font-family:PT Sans Narrow;
	font-size:30px;
}

#head .social
{
		display:inline-block;
		float:right;
	position:relative;
	
	margin-right:10;
	font-size:30px;
	
}

#head .vert
{
	display:inline-block;
}

ul
{
	display:inline-block;
	margin:0;
	margin-left:410px;
	padding:10;
	
	list-style-type:none;
	color:white;
	text-align:center;
	
	word-spacing:10;
}



li
{
	
	display:inline-block;
	font-family:candara;
}

a{
	text-decoration:none;
	color:white;
}



a:hover
{
	color:CCFF66;
}

#hactive
{
	color:yellow;
}


#home
{
	
	height:780px;
	background-color:white;
	text-align:center;
	border-style:solid;
	border-radius:.6%;
	border-color:#F8F8F8; 
	   
}

#home .line
{
	position:relative;
	margin-top:120px;
	margin-left:0px;
	-webkit-animation: mymove 2s; 
    animation: mymove 2s ;
	-webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;
	
	
	
}

#home .line2
{
	position:relative;
	margin-top:20px;
	margin-left:0px;
	-webkit-animation: mymove 2s; 
    animation: mymove 2s ;
	-webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;

	
}

#home .prof
{
	position:relative;
	margin-left:590px;
	margin-top:30px;
	
	height:450px;
	width:350px;
	text-align:center;
	border-radius:5%;
	background-color:ECF3EA;
	-webkit-animation: mymove 2s; 
    animation: mymove 2s ;
	-webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;

}

#home .prof .div1
{
		position:relative;
		margin-top:50px;
		margin-left:100px;
		height:150px;
		width:150px;
		
		border-radius:50%;
}



#home .prof .div1 img
{
	height:inherit;
	width:inherit;
	border-radius:50%;
}

#home .prof .name
{
	position:relative;
	font-weight:bold;
	margin-top:30px;
	margin-left:7px;
	width:inherit;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:10;
	font-family:Open Sans;
	color:21701F;
}

#home .prof .status 
{
	position:relative;
	margin-top:50px;
	margin-left:80px;
	
	width:200px;
	
}


#home .prof .status p
{
	width:inherit;
	color:#909090; 
	text-transform:capitalize;
	letter-spacing:2;
	font-size:17px;
	font-family:Open Sans;
}

.prof .line1

{
	display:inline-block;
	position:relative;
	margin-left:5px;
	margin-top:70px;
}

.prof .line2
{	display:inline-block;
	position:relative;
	margin-right:5px;
	margin-top:70px;
}

#about
{
	position:relative;
	margin-top:100px;
	background:gray; /* For browsers that do not support gradients */
padding:30;
  background: linear-gradient(to right, rgba(231,248,226,0), rgba(231,248,226,1)); /*Standard*/
	height:735px;
	border-style:solid;
	border-radius:.6%;
	border-color:white;
	
}

#about .user
{
	display:inline-block;
	position:relative;
	margin-left:0px;
	margin-top:45px;
	margin-bottom:0px;
	font-size:200px;
	color:7A9272;
	z-index:-10;
	
	
}


#about .l1
{
	position:relative;
	margin-top:80px;
	margin-left:50px;
	font-size:100px;
	letter-spacing:0;
	font-family: Righteous;
	font-weight:bold;
	-webkit-animation: mymove 2s; 
    animation: mymove 2s ;
	-webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;
	  color:7A9272;
}

#about .p1
{
	position:relative;
	margin-top:30px;
	margin-left:50px;
	margin-right:30px;
	font-size:30px;
	line-height:150%;
	font-family:Raleway;
	
	color:#686868;
	-webkit-animation: mymove 2s; 
    animation: mymove 2s ;
	-webkit-animation-timing-function: ease;
	  -webkit-animation-fill-mode: forwards;
}


#achieve
{
	position:relative;
	margin-top:100px;
	height:735px;
	border-style:solid;
	border-color:white;
	border-radius:.6%;
	text-align:center;
	background-color:; 
	
	
}

#achieve h1
{
	text-align:center;
	margin-top:50px;
	padding:10;
	height:28px;
	font-weight:bold;
	font-family:Raleway;
	font-size:60px;
	color:236210;
}

#achieve p
{
	margin:0;
	text-align:center;
	font-size:20px;
	color:5F984D;
	font-family:Raleway;
	letter-spacing:5;
	
}


#banner{
	position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height:550px;
 width:910px;
  text-align: center;
  line-height: 300px;
  z-index:20;
}

#header ul a:active
{
	color:black;
	background-color:black;
}



#project
{
	position:relative;
	margin-top:100px;
	background:gray; /* For browsers that do not support gradients */
padding:30;
  background: linear-gradient(to right, rgba(231,248,226,0), rgba(231,248,226,1)); /*Standard*/
	height:735px;
	border-style:solid;
	border-radius:.6%;
	border-color:white;
	
}

#project h1
{
	position:relative;
	margin-top:50px;
	margin-left:50px;
	font-size:70px;
	letter-spacing:0;
	height:44px;
	font-family:Montserrat;
	font-weight:bold;
	  color:7A9272;
}

#project p
{
	font-size:22px;
	color:gray;
	margin-left:50px;
	margin-right:50px;
	font-family:Raleway;
	word-spacing:10;
}

.space
{
	position:relative;
	margin-top:30;
	
	height:400;
	width:1430;
	
}

.space h2
{
	margin:0;
	text-align:center;
	font-family:Montserrat;
	font-size:40px;
	color:93C583;
}

.teams
{
	display:inline-block;
	margin:0;
	height:380;
	width:1430;
	
	overflow:auto;
	
}

.teams .mem 
{
	display:inline-block;
	text-align:center;
	height:350;
	width:300;
	margin-left:30;
	margin-top:20;
	
	
	
	
	
	
	
}
.teams .mem img
{
	
	border-radius:40%;
}

.teams .mem h3
{
	font-family:Raleway;
	font-size:25px;
	line-height:1.6em;
	color:155F12;
	
}

.teams .mem  h5
{
	margin-top:-30;
	font-family:Raleway;
	font-size:20px;
	color:69BE66;
}

footer
{
	position:relative;
	margin-top:-40;
	height:60px;
	width:100%;
	background-color:669933;
	text-align:center;
}

footer p
{
	padding:5;
	margin-top:5;
	font-size:12px;
	color:C2E3C1;
	font-family:open sans;
}

































